<div class="jumbotron">
  <center>
    <h1>Welcome to</h1>
    <img src="http://images.nymag.com/images/2/daily/2009/07/20090713_joespizza_560x200.jpg">
    <br>
    
    <%= link_to "Check out our Pizzas!",
        pizzas_path, class: "bin btn-btn" %>
  </center>
</div>